html {
    box-sizing: border-box;
    font-size: 1em;
    /*min-height: 100%;
    background-color: rgb(255, 179, 236);
    background-image: linear-gradient(135deg, rgb(255, 179, 236) 0%, rgb(255, 217, 179) 100%);*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    padding: 50px;
    margin: 0;
    color:#727272;
    /* System font stack: https://css-tricks.com/snippets/css/system-font-stack/ */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size: 12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin: 0 0 1rem;
}

p, ul, ol, table, dl {
  margin: 0 0 1.5rem;
}

pre {
  margin: 0;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 22px;
}

h2 {
  color:#393939;
}

* + h2 {
    margin-top: 3rem;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration: none;
}

a:hover {
  color:#069;
}

strong {
  color:#222;
}

small {
  font-size: 11px;
}

hr {
    border:0;
    background:#e5e5e5;
    height: 1px;
    margin: 0 0 1.5rem;
}

.page-container {
    max-width: 64rem;
    margin: 0 auto;
}

.page-container::after {
    display: table;
    content: '';
    clear: both;
}

.page-header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

.page-content {
  width: 620px;
  float: right;
  padding-bottom: 25px;
}

.page-footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 1024px) {

    .page-container {
        width: auto;
        margin: 0;
    }

    .page-header,
    .page-content,
    .page-footer {
        float: none;
        position: static;
        width: auto;
    }

    .page-header {
        padding-right: 320px;
    }

    .page-content {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 1.5rem 0;
        margin: 1.5rem 0;
    }

}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    pre, code {
        word-wrap: normal;
    }

    .page-header {
        padding: 0;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding:15px;
    }
}

@media print {
    body {
        padding: .4in;
        font-size: 12pt;
        color:#444;
    }
}


/*
 * Styles for example videos
 */

.quicktube {
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.quicktube__poster {
    text-align: center;
}

.quicktube__btn {
    display: inline-block;
    padding: .75em 1em;
    background-color: transparent;
    border: solid 2px #222;
    color: #222;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.quicktube__poster:hover .quicktube__btn,
.quicktube__btn:hover {
    background-color: #222;
    color: #fff;
}

/* A stop button */
.quicktube__btn--stop {
    background-color: #222;
    border-color: #222;
    color: #fff;
}

.quicktube__btn--stop:hover {
    background-color: #fff;
    color: #222;
}

@media print, screen and (max-width: 720px) {
    .quicktube__btn {
        font-size: .875rem;
    }
}

