.quicktube {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    background: #111;
    overflow: hidden;
}

    /* Class applied when video is playing */
    .quicktube--playing {

    }

.quicktube__poster,
.quicktube__video,
.quicktube__iframe {
    position: absolute;
}

.quicktube__poster,
.quicktube__video {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    /* Poster image */
    .quicktube__poster {
        cursor: pointer;
        transition: opacity 100ms linear, bottom 0ms linear 0ms;
        overflow: hidden;
    }
        /* Class applied when poster image gets hidden */
        .quicktube__poster--hidden {
            opacity: 0;
            bottom: 100%;
            transition-delay: 0ms, 100ms;
        }

        .quicktube__poster--hidden .quicktube__play {
            display: none;
        }

    .quicktube__iframe {
        border: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* The play button*/
    .quicktube__play {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2em;
        margin-top: -1.5em;
    }

    .quicktube__btn {
        padding: .5em;
        border: solid 2px #222;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
    }

    .quicktube__poster:hover .quicktube__btn,
    .quicktube__btn:hover {
        background: #222;
        color: #fff;
    }

    /* A stop button */
    .quicktube__btn--stop {
        border-color: red;
        color: red;
    }

    .quicktube__btn--stop:hover {
        background: red;
    }


/**
 * ----------------------------------------------
 * Demo styles
 * ----------------------------------------------
 */
.quicktube__poster {
    background: #eee;
    padding: 3em;
    text-align: center;
}

.text--center {
    text-align: center;
}

body {
    font-family: sans-serif;
    margin: 0;
}